.title { 
    font-family: 'Oswald', sans-serif;
    font-size: 70px; 
    font-weight: 900; 
    color: white;
}

body {
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background: url('/images/storm2.jpg') no-repeat center fixed;
}


.hidden {
    display: none; 
}

.sun-icon {
    color: yellow; 
    float: right; 
}

.form-homepage {
    text-align: center; 
    margin-top: 18%; 
}

.input-homepage {
    width: 400px; 
    padding: 7px 12px; 
    border: 1px solid gray; 
    border-radius: 6px; 
    font-size: 14px; 
}


.button {
    color: white; 
    border: none; 
    padding: 8px 20px; 
    border-radius: 6px; 
    font-size: 14px; 
    background-color: #3c5172; 
}

.button:hover {
    background-color: #293951; 
}